arxiv
bs4
chromadb
ipykernel
kor
langchain
langchain_community
langchain-openai
langchainhub
lark
markdownify
numexpr
openai
pymupdf
python-dotenv
ragas
rank_bm25
tiktoken
unstructured
wandb
wikipedia
xmltodict
youtube-search
